<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/cocktaillist-style.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <header>
        <h1> <%= title %></h1>
        <nav>
            <div class="nav-item">ALL</div>
            <% for (let i = 0; i < alcohols.length; i++) { %>
                <div class="nav-item"><%= alcohols[i]%></div>
                <%  } %>
        </nav>
        </header>
            <table>
                <tr>
                    <td class="name">NAME</td>
                    <td class="price">PRICE</td>
                </tr>
            <% for (let i = 0; i<cocktails.length; i++) { %>
                <tr>
                    <td class="name"><li> <%= cocktails[i].name %>
                        <%
                      if(!cocktails[i].isAlcoholic) { %>
                      <span>(non-alcoholic)</span>
                      <% } %>
                    <small><%= cocktails[i].contains.join(', ') %></small></li>
                    </td>
                    <td class="price">
                        <li> <%= cocktails[i].price %> Ft
                    </td>
                  </tr>
            <% } %>
        </table>
    </div>
    </body>
</html>