<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/cocktaillist-style.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <header>
            <h1> <%= title %></h1>
        </header>
        <nav class="topnav">
            <a href="/">ALL</a>
            <% for (let i = 0; i < alcohols.length; i++) { %>
                <a href="/?alcohol=<%= alcoholList[i] %> "><%= alcohols[i]%></a>
                <%  } %>
        </nav>
        <div class="content-control">
            <table>
                <tr>
                    <td class="name-header">NAME</td>
                    <td class="price-header">PRICE</td>
                </tr>
            <% for (let i = 0; i<cocktails.length; i++) { %>
                <tr>
                    <td class="name"><%= cocktails[i].name %>
                        <%
                      if(!cocktails[i].isAlcoholic) { %>
                      <span>(non-alcoholic)</span>
                      <% } %>
                    <small><%= cocktails[i].contains.join(', ') %></small></li>
                    </td>
                    <td class="price">
                        <%= cocktails[i].price %> Ft
                    </td>
                  </tr>
            <% } %>
        </table>
    </div>
    </div>
    </body>
</html>