<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Weather for <%= cityWeatherData.varos %> </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../static/style.css" rel="stylesheet">
    </head>
    <body>
        <h3><%= cityWeatherData.varos %> <small><%= cityWeatherData.helyszin %></small></h3>
        <div class="weathercard-flow-control">
            <% for (let i = 0; i < cityWeatherData.idojaras.length; i++) { %>
                <div class="weathercard">
                  <img src="../static/<%= cityWeatherData.idojaras[i].icon %>.png" width="90px">
                  <p class="temperature"><%= cityWeatherData.idojaras[i].homerseklet %>°C</p>
                  <p class="message"><%= cityWeatherData.idojaras[i].uzenet %></p>
              </div>  
              <% } %> 
        </div>
       
</html>